/* ========================================================================== *\
   From 480 and upwards
\* ========================================================================== */

@media only screen and (min-width: 480px) {
  // ==========================================================================
  // BASE
  // ==========================================================================

  //
  // Sticky Footer [by Steve Hatcher | http://www.cssstickyfooter.com]
  // --------------------------------------------------------------------------

  .main {
    padding-bottom: $height-footer-480; /* must be same height as the footer */
  }

  .footer {
    margin-top: 0 - $height-footer-480;
    height: $height-footer-480;
  }
}