/* ========================================================================== *\
   From 768 and upwards
\* ========================================================================== */

@media only screen and (min-width: 768px) {
  // ==========================================================================
  // BASE
  // ==========================================================================

  .content {
    float: left;
    width: 57%;
  }

  //
  // Sticky Footer [by Steve Hatcher | http://www.cssstickyfooter.com]
  // --------------------------------------------------------------------------

  .main {
    padding-bottom: $height-footer-768; /* must be same height as the footer */
  }

  .footer {
    margin-top: 0 - $height-footer-768;
    height: $height-footer-768;
  }

  // ==========================================================================
  // Header
  // ==========================================================================

  .title {
    float: left;
  }

  // ==========================================================================
  // Menu
  // ==========================================================================

  .nav-main {
    float: right;
    width: 38%;
  }

  // ==========================================================================
  // Sidebar
  // ==========================================================================

  .sidebar {
    float: right;
    width: 28%;
  }
}