/* ========================================================================== *\
   Sidebar
\* ========================================================================== */

.sidebar {
  color: #000;
  padding: 0px 5% 10px;
}

.sidebar-block {
  background: #ddd;
  margin-top: 20px;
}